<section class="detailsPage">
  <app-slider [images]="roomsImages"></app-slider>

  <form
    class="bookingForm"
    id="bookingForm"
    id="bookingForm"
    [formGroup]="postForm"
    (ngSubmit)="postRoomBooking()"
  >
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Reservation</h1>
      <div class="titleLine"></div>
    </div>
    <div class="detailRoomName" id="detailRoomName">
      <p>{{ roomsDetails?.name }}</p>
      <span>
        {{ roomsDetails?.pricePerNight | currency : "USD" }} -
        <span class="miniInfo">per night</span></span
      >
    </div>
    <div class="inputBox">
      <label for="checkin">Check In</label>
      <input
        type="date"
        formControlName="checkIn"
        name="checkIn"
        id="checkIn"
        [min]="currentDate"
      />
      <div
        *ngIf="
          postForm.get('checkIn')?.invalid &&
          (postForm.get('checkIn')?.dirty || postForm.get('checkIn')?.touched)
        "
        class="error"
      >
        Check-in date is required.
      </div>
    </div>
    <div class="inputBox">
      <label for="checkout">Check out</label>
      <input
        type="date"
        formControlName="checkOut"
        name="checkOut"
        id="checkOut"
        [min]="postForm.get('checkOut')?.value"
      />
      <div
        *ngIf="
          postForm.get('checkOut')?.invalid &&
          (postForm.get('checkOut')?.dirty || postForm.get('checkOut')?.touched)
        "
        class="error"
      >
        Check-out date is required.
      </div>
    </div>
    <div class="inputBox">
      <label for="">Customer Name</label>
      <input
        type="text"
        name="userName"
        formControlName="userName"
        placeholder="Enter Your Name"
      />
      <div
        *ngIf="
          postForm.get('userName')?.invalid &&
          (postForm.get('userName')?.dirty || postForm.get('userName')?.touched)
        "
        class="error"
      >
        Name is required.
      </div>
    </div>
    <div class="inputBox">
      <label for="">Customer Phone</label>
      <input
        type="text"
        formControlName="userPhone"
        name="userPhone"
        placeholder="Enter Your Phone"
      />
      <div
        *ngIf="
          postForm.get('userPhone')?.invalid &&
          (postForm.get('userPhone')?.dirty ||
            postForm.get('userPhone')?.touched)
        "
        class="error"
      >
        Phone number is required.
      </div>
    </div>
    <div class="btns">
      <button type="submit" [disabled]="postForm.invalid">Book Room</button>
    </div>
  </form>
</section>

<section class="roomDescription">
  <div class="left">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Room Details</h1>
      <div class="titleLine"></div>
    </div>
    <div class="overview">
      <h3>Table Overview</h3>
      <div>
        <span *ngFor="let feature of roomFeatures">
          <i [class]="feature.icon"></i>{{ feature.description }}
        </span>
      </div>
      <p *ngIf="roomsDetails?.name">
        Enjoy {{ roomsDetails?.name }} for ultimate comfort, along with free
        Wi-Fi to keep you connected and a free newspaper delivered daily. Take
        in the beach view from your room, designed for
        {{ roomsDetails?.maximumGuests }}
        guests. Your stay includes breakfast, and you'll have a private balcony
        for relaxing moments. Entertainment is at your fingertips with a
        flat-screen TV, and you can unwind in the jacuzzi. Stay cool with air
        conditioning, and enjoy snacks and drinks from your mini bar. 24/7 room
        service ensures all your needs are met throughout your stay.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Overview</h1>
      <div class="titleLine"></div>
    </div>
    <div class="addInfo" id="addInfo">
      <span
        >Name: <span>{{ roomsDetails?.name }}</span></span
      >
      <span>
        Available:
        <i
          *ngIf="roomsDetails?.available"
          class="fa-solid fa-check"
          style="color: #3963ff"
        ></i>
        <i
          *ngIf="!roomsDetails?.available"
          class="fa-solid fa-ban"
          style="color: red"
        ></i>
      </span>
      <span
        >Price:
        <span> {{ roomsDetails?.pricePerNight | currency : "USD" }}</span></span
      >
      <span
        >Max Guests: <span>{{ roomsDetails?.maximumGuests }}</span></span
      >
      <span
        >Room Number: <span> {{ roomsDetails?.roomTypeId }}</span></span
      >
    </div>
  </div>
</section>
