<section class="detailsPage">
  <div class="slider" #sliderContainer>
    <div class="slides" [style.transform]="getSliderTransform()">
      <img
        *ngFor="let image of roomsImages; let i = index"
        [src]="image"
        [class.active]="i === currentSlide"
        alt="Room Image"
      />
    </div>
    <button class="prev" (click)="prev()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="next" (click)="next()">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  <form class="bookingForm" id="bookingForm">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Reservation</h1>
      <div class="titleLine"></div>
    </div>
    <div class="detailRoomName" id="detailRoomName">
      <p>{{ roomsDetails?.name }}</p>
      <span>
        {{ roomsDetails?.pricePerNight | currency : "USD" }} -
        <span class="miniInfo">per night</span></span
      >
    </div>
    <div class="inputBox">
      <label for="checkin">Check In</label>
      <input
        type="date"
        name="checkInDate"
        id="checkin"
        [min]="currentDate"
        required
      />
    </div>
    <div class="inputBox">
      <label for="checkout">Check out</label>
      <input type="date" name="checkOutDate" id="checkout" required />
    </div>
    <div class="inputBox">
      <label for="">Customer Name</label>
      <input
        type="text"
        name="customerName"
        placeholder="Enter Your Name"
        required
      />
    </div>
    <div class="inputBox">
      <label for="">Customer Phone</label>
      <input
        type="text"
        name="customerPhone"
        placeholder="Enter Your Phone"
        required
      />
    </div>
    <div class="btns">
      <button type="submit">BOOK NOW</button>
    </div>
  </form>
</section>

<section class="roomDescription">
  <div class="left">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Room Details</h1>
      <div class="titleLine"></div>
    </div>
    <div class="overview">
      <h3>Table Overview</h3>
      <div>
        <span *ngFor="let feature of roomFeatures">
          <i [class]="feature.icon"></i>{{ feature.description }}
        </span>
      </div>
      <p *ngIf="roomsDetails?.name">
        Enjoy {{ roomsDetails?.name }} for ultimate comfort, along with free
        Wi-Fi to keep you connected and a free newspaper delivered daily. Take
        in the beach view from your room, designed for
        {{ roomsDetails?.maximumGuests }}
        guests. Your stay includes breakfast, and you'll have a private balcony
        for relaxing moments. Entertainment is at your fingertips with a
        flat-screen TV, and you can unwind in the jacuzzi. Stay cool with air
        conditioning, and enjoy snacks and drinks from your mini bar. 24/7 room
        service ensures all your needs are met throughout your stay.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Overview</h1>
      <div class="titleLine"></div>
    </div>
    <div class="addInfo" id="addInfo">
      <span
        >Name: <span>{{ roomsDetails?.name }}</span></span
      >
      <span>
        Available:
        <i
          *ngIf="roomsDetails?.available"
          class="fa-solid fa-check"
          style="color: #3963ff"
        ></i>
        <i
          *ngIf="!roomsDetails?.available"
          class="fa-solid fa-ban"
          style="color: red"
        ></i>
      </span>
      <span
        >Price:
        <span> {{ roomsDetails?.pricePerNight | currency : "USD" }}</span></span
      >
      <span
        >Max Guests: <span>{{ roomsDetails?.maximumGuests }}</span></span
      >
      <span
        >Room Number: <span> {{ roomsDetails?.roomTypeId }}</span></span
      >
    </div>
  </div>
</section>
