<p>room-details works!</p>
<section class="detailsPage">
  <div class="slider">
    <div class="slides" id="sliderImages">
      <img src="slide-bg.jpg" alt="" />
    </div>
    <button class="prev" onclick="changeSlide(-1)">❮</button>
    <button class="next" onclick="changeSlide(1)">❯</button>
  </div>
  <form class="bookingForm" id="bookingForm">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Reservation</h1>
      <div class="titleLine"></div>
    </div>
    <div class="detailRoomName" id="detailRoomName">
      <p>premium room</p>
      <span>$ 199 - <span class="miniInfo">a night</span></span>
    </div>
    <div class="inputBox">
      <label for="checkin">Check In</label>
      <input type="date" name="checkInDate" id="checkin" required />
    </div>
    <div class="inputBox">
      <label for="checkout">Check out</label>
      <input type="date" name="checkOutDate" id="checkout" required />
    </div>
    <div class="inputBox">
      <label for="">Customer Name</label>
      <input
        type="text"
        name="customerName"
        id=""
        placeholder="Enter Your Name"
        required
      />
    </div>
    <div class="inputBox">
      <label for="">Customer Phone</label>
      <input
        type="text"
        name="customerPhone"
        id=""
        placeholder="Enter Your Phone"
        required
      />
    </div>
    <div class="btns">
      <button type="submit">BOOK NOW</button>
    </div>
  </form>
</section>
<section class="roomDescription">
  <div class="left">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Room Details</h1>
      <div class="titleLine"></div>
    </div>
    <div class="overview">
      <h3>Table Overview</h3>
      <div>
        <span><i class="fi fi-ss-check-circle"></i> Double Bed</span>
        <span><i class="fi fi-ss-check-circle"></i> Free Internet</span>
        <span><i class="fi fi-ss-check-circle"></i> Free Newspaper</span>
        <span><i class="fi fi-ss-check-circle"></i> 60 square meter</span>
        <span><i class="fi fi-ss-check-circle"></i> Beach view</span>
        <span><i class="fi fi-ss-check-circle"></i> 2 persons</span>
        <span><i class="fi fi-ss-check-circle"></i> Double Bed</span>
        <span><i class="fi fi-ss-check-circle"></i> Free Internet</span>
        <span><i class="fi fi-ss-check-circle"></i> Breakfast included</span>
        <span><i class="fi fi-ss-check-circle"></i> Private Balcony</span>
        <span><i class="fi fi-ss-check-circle"></i> Flat Screen TV</span>
        <span><i class="fi fi-ss-check-circle"></i> Jacuzzi</span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ligula
        nibh, cursus id euismod non, scelerisque nec nibh. Nam semper, ligula a
        rhoncus fermentum, libero lacus vulputate felis, id auctor mauris urna
        quis diam.
      </p>
    </div>
  </div>
  <div class="right">
    <div class="resTitle">
      <div class="titleLine"></div>
      <h1>Overview</h1>
      <div class="titleLine"></div>
    </div>
    <div class="addInfo" id="addInfo"></div>
  </div>
</section>
