<section>
  <div class="container bottom">
    <div class="inputboxs">
      <label>Price Per Night</label>
      <ngx-slider
        [(value)]="value"
        [(highValue)]="highValue"
        [options]="options"
      ></ngx-slider>
    </div>

    <div class="inputboxs">
      <label>Room Type <i class="fa-solid fa-circle-info"></i></label>
      <select name="room" id="room" [(ngModel)]="selectedRoomType">
        <option selected value="">Select a room</option>
        <option value="1">Single Room</option>
        <option value="2">Double Room</option>
        <option value="3">Deluxe Room</option>
      </select>
    </div>

    <div class="inputboxs">
      <label>Check-in <i class="fa-solid fa-circle-info"></i></label>
      <input type="date" [min]="currentDate" [(ngModel)]="checkInDate" />
    </div>

    <div class="inputboxs">
      <label>Check-out <i class="fa-solid fa-circle-info"></i></label>
      <input type="date" [min]="currentDate" [(ngModel)]="checkOutDate" />
    </div>

    <div class="inputboxs">
      <label>Guest <i class="fa-solid fa-user"></i></label>
      <select name="guest" id="guest" [(ngModel)]="selectedGuests">
        <option selected value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="inputbuttons">
      <button class="mainbtn" (click)="applyFilters()">APPLY FILTER</button>
      <button class="mainbtn" (click)="resetFilters()">RESET</button>
    </div>
  </div>
</section>

<section class="favouriteRooms">
  <div class="favouriteRoomsList">
    @for (room of filteredRooms ;track $index) {
    <div class="roomCard">
      <img [src]="room.images[0].source" [alt]="room.name" />
      <div class="roomInfo">
        <div>
          <span class="roomName">{{ room.name }}</span>
          <span class="roomPrice">{{
            room.pricePerNight | currency : "USD"
          }}</span>
        </div>
        <button (click)="navigateToRoomDetails(room.id)">BOOK NOW</button>
      </div>
    </div>
    } @empty { @for (room of skeletonArray; track $index) {
    <div class="skeleton skeleton-img">
      <div class="skeleton-img"></div>
    </div>
    } }
  </div>
</section>
