nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  padding: 0 10%;
  background-color: #ffffff;
  z-index: 1000;
}

nav .logo {
  padding-right: 50px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

nav .logo a {
  padding: 5px 0;
}

nav .logo a img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

nav .logo::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 3px;
  background-color: rgba(182, 182, 182, 0.6);
}

nav .navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-left: 50px;
}

nav .navMenu a {
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  transition: 0.3s ease;
  font-size: 16px;
  cursor: pointer;
}

nav .navMenu a:hover {
  color: #70d2de;
}

nav .navMenu .activeMenu {
  color: #70d2de;
  font-weight: bold;
  transition: 0.3s ease;
}

nav .burgermenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  border: 2px solid #3963ff;
  cursor: pointer;
}

nav .burgermenu .line {
  width: 60%;
  height: 2px;
  background-color: #3963ff;
  border-radius: 5px;
  transition: 0.3s ease;
}

nav .burgermenuToggle .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

nav .burgermenuToggle .line:nth-child(2) {
  opacity: 0;
}

nav .burgermenuToggle .line:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

div.mobileMenu {
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-height: 170px !important;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 82px;
  list-style: none;
  gap: 25px;
  transition: 0.5s ease;
  z-index: 10;
}

div.mobileMenu a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 15px;
  position: relative;
  width: 100%;
  padding-left: 5%;
  cursor: pointer;
}

div.mobileMenu a::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
}

div.mobileMenu .activeMenu {
  color: #70d2de;
  font-weight: bold;
  transition: 0.3s ease;
}

div.mobileMenu a:nth-child(4)::after {
  display: none;
}

@media screen and (max-width: 1020px) {
  nav {
    padding: 0 4%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 5%;
    justify-content: space-between;
  }
  nav .logo a img {
    width: 100%;
    height: 50px;
  }
  nav .logo::after {
    display: none;
  }
  nav .navMenu {
    display: none;
  }
  nav .burgermenu {
    display: flex;
  }
  div.mobileMenu {
    display: flex;
  }
}

.hidden {
  transform: translateY(-150%);
  display: none;
}
