<nav>
  <div class="logo">
    <a><img [src]="logoImg" [alt]="logoAlt" /></a>
  </div>
  <div class="navMenu">
    <a class="activeMenu">Home</a>
    <a>Rooms</a>
    <a>Hotels</a>
    <a>Booked Rooms</a>
  </div>
  <div class="burgermenu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="mobileMenu" [class.hidden]="!isMenuOpen">
    <a class="activeMenu">Home</a>
    <a>Rooms</a>
    <a>Hotels</a>
    <a>Booked Rooms</a>
  </div>
</nav>
