<nav>
  <div class="logo">
    <a routerLink="/"><img [src]="logoImg" [alt]="logoAlt" /></a>
  </div>
  <div class="navMenu">
    <a
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive="activeMenu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </div>
  <div class="burgermenu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="mobileMenu" [class.hidden]="!isMenuOpen">
    <a
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive="activeMenu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </div>
</nav>
