<section class="hotels">
  <div class="title">
    <h1>Guests Favorite Rooms</h1>
  </div>
  <div class="hotels">
    @for (hotel of hotels; track $index) {
    <div class="roomCard">
      <img [src]="hotel.featuredImage" [alt]="hotel.name + ' Picture'" />
      <div class="roomInfo">
        <div>
          <span class="roomName">{{ hotel.name }}</span>
        </div>
        <button routerLink="/rooms">VIEW ROOMS</button>
      </div>
    </div>
    } @empty { @for (room of skeletonArray; track $index) {
    <div class="skeleton skeleton-img">
      <div class="skeleton-img"></div>
    </div>
    } }
  </div>
</section>
