// Define color variables
$primary-color: #5abac6;
$accent-color: #35929e;
$dark-gray: #5e5e5e;
$white-color: #ffffff;
$hover-color: #5d959c;

// Hotels section
section.hotels {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10%;
  margin-top: 80px;
  gap: 40px;

  .cities {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    font-size: 15px;
    color: $dark-gray;
    margin-top: 30px;

    button {
      width: 45px;
      height: 40px;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white-color;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      border: none;
    }
  }

  .hotels {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }
}

// Room card styling
.roomCard {
  max-width: 400px;
  width: 100%;
  height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;

  img {
    width: 400px;
    height: 200px;
    transition: 0.4s ease-in-out;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .roomInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    transition: 0.4s ease-in-out;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      span.roomPrice {
        color: $primary-color;
        font-weight: bold;
        font-size: 14px;
      }
    }

    button {
      transition: 0.4s ease-in-out;
      width: 100%;
      background-color: $primary-color;
      padding: 10px 0;
      border: 1px solid $accent-color;
      border-radius: 7px;
      text-shadow: 0 -1px 0 #50878e;
      color: $white-color;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
        border: 1px solid $accent-color;
      }
    }
  }

  &:hover {
    img {
      transform: translateY(-100%);
    }

    .roomInfo {
      transform: translateY(-200%);
    }

    button {
      transform: translateY(-20%);
    }
  }
}

// Media query for smaller screens
@media screen and (max-width: 400px) {
  section.hotels {
    height: auto;
  }
}
