<section class="favouriteRooms">
  <div class="title">
    <h1>Guests Favorite Rooms</h1>
  </div>
  <div class="favouriteRoomsList">
    @for (room of favoriteRoomsList; track $index) {
    <div class="roomCard">
      <img [src]="room.images[0].source" [alt]="room.name" />
      <div class="roomInfo">
        <div>
          <span class="roomName">{{ room.name }}</span>
          <span class="roomPrice">{{
            room.pricePerNight | currency : "USD"
          }}</span>
        </div>
        <button (click)="navigateToRoomDetails(room.id)">BOOK NOW</button>
      </div>
    </div>
    } @empty { @for (skeleton of skeletonArray; track $index) {

    <div class="skeleton skeleton-img">
      <div class="skeleton-img"></div>
    </div>

    } }
  </div>
</section>
