<div class="wrapper">
  <main class="table" id="customers_table">
    <section class="table__header">
      <h1>Booked Rooms</h1>
      <div class="input-group">
        <input
          type="search"
          placeholder="Search Data..."
          [(ngModel)]="searchTerm"
          (input)="filterBookings()"
        />
      </div>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>
              Room
              <span class="icon"><i class="fa-solid fa-house"></i></span>
            </th>
            <th>
              Customer
              <span class="icon"><i class="fa-solid fa-user"></i></span>
            </th>
            <th>
              Check In
              <span class="icon"><i class="fa-solid fa-suitcase"></i></span>
            </th>
            <th>
              Check Out
              <span class="icon"
                ><i class="fa-solid fa-person-walking-luggage"></i
              ></span>
            </th>
            <th>
              Booked<span class="icon"
                ><i class="fa-solid fa-magnifying-glass"></i
              ></span>
            </th>
            <th>
              Total Price
              <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
            </th>
            <th>
              Actions
              <span class="icon"><i class="fa-solid fa-xmark"></i></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of filteredBookings">
            <td>{{ booking.roomID }}</td>
            <td>{{ booking.customerName }}</td>
            <td>{{ booking.checkInDate | date }}</td>
            <td>{{ booking.checkOutDate | date }}</td>
            <td>
              <p
                (click)="showModal()"
                [ngClass]="
                  booking.isConfirmed ? 'status approve' : 'status cancell'
                "
              >
                {{ booking.isConfirmed ? "Yes" : "No" }}
              </p>
            </td>
            <td>
              <strong> {{ booking.totalPrice | currency }} </strong>
            </td>
            <td>
              <p (click)="cancelBooking(booking.id)" class="status cancell">
                Cancel
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>
