<div class="wrapper">
  <main class="table" id="customers_table">
    <section class="table__header">
      <h1>Bookeded Rooms</h1>
      <div class="input-group">
        <input type="search" placeholder="Search Data..." />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>
              Room
              <span class="icon"><i class="fa-solid fa-house"></i></span>
            </th>
            <th>
              Customer
              <span class="icon"><i class="fa-solid fa-user"></i></span>
            </th>
            <th>
              Check In
              <span class="icon"><i class="fa-solid fa-suitcase"></i></span>
            </th>
            <th>
              Check Out
              <span class="icon"
                ><i class="fa-solid fa-person-walking-luggage"></i
              ></span>
            </th>
            <th>
              Status<span class="icon"
                ><i class="fa-solid fa-magnifying-glass"></i
              ></span>
            </th>
            <th>
              Total Price
              <span class="icon"><i class="fa-solid fa-money-bill"></i></span>
            </th>
            <th>
              Actions
              <span class="icon"><i class="fa-solid fa-xmark"></i></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <img src="images/Zinzu Chan Lee.jpg" alt="" />Zinzu Chan Lee
            </td>
            <td>Seoul</td>
            <td>17 Dec, 2022</td>
            <td>
              <p class="status delivered">Delivered</p>
            </td>
            <td><strong> $128.90 </strong></td>
            <td>
              <p class="status cancelled">Cancel</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>
