$scrollbar-color: #5abac6;
$font-family: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: $scrollbar-color;
}

html,
body {
  scroll-behavior: auto;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: $font-family;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}
