/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 999;
  background: #5abac6;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: opacity 0.4s, visibility 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  &:hover {
    background: #75c5cf;
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
