section.favouriteRooms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  margin-top: 80px;
}

section.favouriteRooms .title {
  width: 100%;
  display: flex;
  align-items: center;
}

section.favouriteRooms .title h1 {
  color: #5e5e5e;
  font-weight: normal;
  font-size: 24px;
  width: 180px;
  margin: 0 30px;
  text-align: center;
  width: 380px;
}

section.favouriteRooms .title .titleLine {
  width: 45%;
  height: 2px;
  border-radius: 3px;
  background-color: rgba(182, 182, 182, 0.6);
}
