<nav>
  <div class="logo">
    <a routerLink="/"><img [src]="logoImg" [alt]="logoAlt" /></a>
  </div>
  <div class="navMenu">
    <a
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive="activeMenu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </div>

  <div class="mobileNavigation">
    <div
      *ngFor="let link of navLinks"
      class="navItem"
      [routerLink]="link.path"
      routerLinkActive="activeItem"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i [class]="'fa-solid ' + link.icon"></i>
      <span>{{ link.label }}</span>
    </div>
  </div>
</nav>
