// Define color variables
$white: #ffffff;
$darkGray: #5e5e5e;
$lightBlue: #70d2de;
$tealBlue: #5abac6;
$blue: #3963ff;
$grayBorder: rgba(182, 182, 182, 0.6);
$black: black;

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  padding: 0 10%;
  background-color: $white;
  z-index: 1000;

  .logo {
    padding-right: 50px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      padding: 5px 0;

      img {
        width: 100%;
        height: 50px;
        object-fit: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 3px;
      background-color: $grayBorder;
    }
  }

  .navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-left: 50px;

    a {
      text-decoration: none;
      color: $darkGray;
      font-weight: bold;
      transition: 0.3s ease;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: $tealBlue;
      }
    }

    .activeMenu {
      color: $tealBlue;
      font-weight: bold;
      transition: 0.3s ease;
    }
  }

  .burgermenu {
    display: none;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 5px;
    width: 40px;
    height: 35px;
    border: 2px solid $tealBlue;
    cursor: pointer;

    .line {
      width: 60%;
      height: 2px;
      background-color: $tealBlue;
      border-radius: 5px;
      transition: 0.3s ease;
    }

    &Toggle {
      .line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: translateY(-7.5px) rotate(-45deg);
      }
    }
  }
}

div.mobileMenu {
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-height: 170px;
  height: 100%;
  background-color: $white;
  margin: 0 auto;
  margin-top: 82px;
  list-style: none;
  gap: 25px;
  transition: 0.5s ease;
  z-index: 10;

  a {
    text-decoration: none;
    color: $darkGray;
    font-size: 15px;
    position: relative;
    width: 100%;
    padding-left: 5%;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $black;
    }

    &:nth-child(4)::after {
      display: none;
    }
  }

  .activeMenu {
    color: $tealBlue;
    font-weight: bold;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 1020px) {
  nav {
    padding: 0 4%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 5%;
    justify-content: space-between;

    .logo {
      a {
        img {
          width: 100%;
          height: 50px;
        }
      }

      &::after {
        display: none;
      }
    }

    .navMenu {
      display: none;
    }

    .burgermenu {
      display: flex;
    }
  }

  div.mobileMenu {
    display: flex;
  }
}

.hidden {
  transform: translateY(-150%);
  display: none;
}
